<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JobOps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>
<body>
    <header>
        <div class="title">
            <a href="home">
                <img src="{% static 'img/JO_logo.png' %}" alt="Логотип">
            </a>            
        </div>
        <div class="burger" id="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>

    <nav id="menu">
        <a href="/home"><i class="fas fa-home"></i> Главная</a>
        <a href="/generalstats"><i class="fas fa-chart-line"></i> Общая статистика</a>
        <a href="/dynamic"><i class="fas fa-search"></i> Востребованность</a>
        <a href="/geography"><i class="fas fa-map-marker-alt"></i> География</a>
        <a href="/skills"><i class="fas fa-cogs"></i> Навыки</a>
        <a href="/lastvacancies"><i class="fas fa-briefcase"></i> Последние вакансии</a>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>ФИО: Лавров Никита Алексеевич</p>
        <p>Академическая группа: РИ-230944</p>
    </footer>

    <script>
        const burger = document.getElementById('burger');
        const menu = document.getElementById('menu');

        burger.addEventListener('click', () => {
            burger.classList.toggle('active');
            menu.classList.toggle('active');
        });
    </script>
</body>
</html>
